@page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm; /* change the margins as you want them to be. */
}

div.bigcard {
    color: #666666;
    margin: 0cm;
    width: 20.80cm;
    height: 14.70cm;
    float: left;
    border-style: solid;
    border-width: 0.5px;
    border-color: #eeeeee;
    background-color: white;
    line-height: 2.5em;
    position: relative;
}

div.bigcard-header {
    margin: 0cm;
    width: 20.80cm;
    height: 6.5cm;
    float: left;
    border-style: solid;
    border-width: 0.0px;
    border-color: #eeeeee;
    background-color: white;
    position: relative;
}

div.bigcard-column {
    margin: 0cm;
    width: 10.4cm;
    float: left;
    border-style: solid;
    border-width: 0.0px;
    border-color: #eeeeee;
    background-color: white;
    line-height: 2.5em;
    position: relative;
}

ul {
    list-style-type: square;
}

div.bigcard-column ul {
    font-size: 0.8em;
    line-height: 1.4em;
    font-weight: lighter;
}

div.card {
  color: #666666;
  margin: 0cm;
  width: 10.40cm;
  height: 7.35cm;
  float: left;
  border-style: solid;
  border-width: 0.5px;
  border-color: #eeeeee;
  background-color: white;
  line-height: 1.5em;
  position: relative;
}

div.card-given {
  font-size: 1.5em;
  padding: 0.2cm;
  min-height: 2cm;
  }

span.card-asa-title {
  font-family: 'Open Sans Bold', Verdana, Helvetica, Arial, sans-serif;
  color: #af3232;
}

span.card-then-title {
  font-family: 'Open Sans Bold', Verdana, Helvetica, Arial, sans-serif;
  color: #ff9900;
}

span.card-given-title {
  font-family: 'Open Sans Bold', Verdana, Helvetica, Arial, sans-serif;
  color: #32af51;
}

div.card-then {
  padding: 0.2cm;
  margin-top: 0.5cm;
  font-size: 1.5em;
  }

div.bigcard-asa {
  padding: 0.2cm;
  margin-top: 0.4cm;
  font-size: 2.3em;
  }

div.bigcard-with {
  padding: 0.2cm;
  margin-top: 0.4cm;
  font-size: 2.3em;
  }

div.bigcard-sothat {
  padding: 0.2cm;
  margin-top: 0.4cm;
  font-size: 2.3em;
  }

div.card-threat-h2 {
    font-weight: 800;
    color: #df9d9b;
    padding-top: 0.2cm;
    padding-left: 0.2cm;
    line-height: 1;
    font-size: 1.0em;
}

div.card-threat-main {
    font-weight: 800;
    color: #df9d9b;
    padding-top: 0.2cm;
    padding-left: 0.2cm;
    font-size: 2.0em;
}

div.card-threat-subtitle {
    font-weight: 800;
    color: #b7b7b7;
    padding-top: 0.2cm;
    padding-left: 0.2cm;
    font-size: 1.3em;
}

table {
    margin: 5px;
    line-height: 1.2em;
}
th {
    font-size: 0.5em;
    text-align: left;
    font-weight: lighter;
}

td {
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: left;
}

div.card-threat-dotdot {
    font-weight: lighter;
    color: grey;
    padding-top: 0.2cm;
    padding-left: 0.2cm;
    font-size: 1.0em;
}

div.card-threat-title {
    font-weight: lighter;
    padding-top: 0.2cm;
    padding-left: 0.2cm;
    line-height: 1.1em;
    font-size: 2.8em;
}

div.card-category {
  font-weight: 900;
  bottom: 0;
  color: #32af51;
  position: absolute;
  font-weight: bold;
  padding-top: 0.2cm;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}


.body-container {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
  max-width: 21cm;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: grey;
}


span.green {
  color: #32af51;
}

span.yellow {
  color: #afa832;
}

span.blue {
  color: #3246af;
}

span.red {
  color: #af3232;
}

span.orange {
  color: #af6432;
}


